
/**
 * Portfolio Activity
 **/


header {
    width: 50%;
    height: 100;
    border: #cccccc;    
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    position: fixed;   
    font-family: Helvetica;
}
h1{
    font-family: Georgia;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
}
#nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    color: #777777;
}

nav #{
    color: #666666;
}
h2 {
    font-family: Georgia;
    color: #4aaaa5;
    padding: 20px;
}
img{
    float: none;
}
body {
    float: center;
    font-family: Helvetica;
    color: #777777;  
    width: 960px;
    height: 960px;
    padding: 960px; 
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/dust_scratches.zip);
   }
#image1{
    float: left;
}
#image2{
    float: left;
}
#image3{
    float: left;
}
#image4{
    float: left;
}
#image5{
    float: left;
}

button{
    background-color: #ffffff
    color: #4aaaa5;
    margin:10px;
    padding: 5px;
}
    /**---------footer--------**/

#footer {
    width: 100%;
    background-color: #666666;
    margin-bottom: 60px;
    padding: 20px;
    color: #ffffff;
    text-align: center
}