
/**
 * Portfolio Activity
 **/

* {
    box-sizing: border-box;
    text-align: center;

}

body {
}
body{        
    padding-top: 60px;
    padding-bottom: 40px;
}
.fixed-header, .fixed-footer{
    width: 100%;
    padding: 10px 0;
    position: fixed;   
    color: #4aaaa5; 
    border: #cccccc;    
    background: #ffffff
    font-family: Georgia, 
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    color:white;
    background:#ffffff;
    border: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding: 20px;
    margin-bottom: 20px;
    background: #666666;
}